/* body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 47%, #80D0C7 100%);

    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
} */
* body{
    /* background: linear-gradient(360deg,#949494 10%,#efefef 360%);
    
    background-size: cover; */
   background-color:rgb(24, 24, 24);
   
}
/* .animate-top{
    position: absolute;
    top: -1200px;
    animation: slide 2s forwards;
    animation-delay: 0.5s;
}
@keyframes slide {
    100% { top: 0; }
} */

.animate-left{
    position: absolute;
    left: -1200px;
    animation: slide 2s forwards;
    animation-delay: 0.5s;
}

.animate-bio{
    position: absolute;
    left: -1200px;
    animation: slide 2s forwards;
    animation-delay: 0.8s;
}

@keyframes slide {
    100% { left: 0; }
}


.head {
    background: #121b54;
    opacity:0.8;
}
.mwp {
    display:flex;
    justify-content: center;
}

#title {
 
    width: 80%
;}

#aboutMeFont {
    
    font-size: 1.7rem;
    color:white;
    
}
.bioParagraph {
    padding-left: 3rem;
    font-size: 1.4rem;
}
#webDev , #aboutMe{
    padding-right:5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.headerText{
    display:flex;
    align-self: flex-end;
    color:white;
    font-size:3rem;
}

.carousel-caption {
    background-color: black;
    opacity:0.8;
    border-radius: 30px;
    padding: 1rem;
    color: white;
    box-shadow: 2px 2px 6px black
}

.pics {
    border-radius:10px;
    
}

.container{
    margin-bottom:6rem;
}

#picture {
    box-shadow: 2px 2px 6px black
}

.nav-link{
    color: white;
}

#navbar {
    display:flex;
    justify-content: center;
}

#navbarNavDropdown{
    display:flex;
    justify-content:center;
    font-size: 1.8rem;
    padding:1rem;
}

.nav-item {
    padding:1rem;
}

.bioSection {
    display: flex;
    flex-direction: row;
    
}


#forward , #reverse{
    color:black;
    font-size:3rem;
}

.home{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    color:white;
    font-size:3rem;

}

footer{
    display:flex;
    justify-content:center;
    color:white;
    padding: 1rem;
    margin-top:3rem;

}

#mwpLogo{
    margin-left: 1rem;
}